* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-items: center;
    padding: 1vw;
    width: 50vw; 
    height: 50vh; 
    text-align: center;
}

img {
    width: 50vw;
    height: 60vh;
    display: block;

}

button {
    background: linear-gradient(to right, #cbe729 0%, #45a049 100%);
    border: 0.1px solid rgb(46, 46, 46);
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-size: 1.2vw;
    cursor: pointer;
    width: 50vw; 
    height: 7vh;
 
}
